
    /** 목록 스타일 초기화 및 중앙 배치, 가로 폭 지정 */
    start {
        padding: 0;
        margin: 50px auto;
        list-style: none;
        width: 100px;
}

    /** 제목 영역의 초기화 처리 */
    .title {
        padding: 0;
        margin: 0;
        border: 1px solid #000;
}

    /** 링크의 클릭 영역 확대 및 배경 및 폰트 처리 */
    .title > a {
        display: block;
        padding: 2px;
        font-size: 14px;
        font-weight: bold;
        text-indent: 12px;
        text-decoration: none;
        color: white;
        height: 32px;
        line-height: 32px;
        background: #8f8f8f;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        
        /*그라디언트 지정*/
        background: linear-gradient(top, #cecece 0%, #8f8f8f 100%);
        background: -moz-linear-gradient(top, #cecece, #8f8f8f);
        background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#8f8f8f));
    }

    /** 현재 활성화된 요소에 적용할 배경이미지 지정 */
    .selected {
        background: #65669a !important;
        color: #fff !important;
        
        /*그라디언트 지정*/
        background: linear-gradient(top, #6bb2ff 0%, #2288dd 100%) !important;
        background: -moz-linear-gradient(top, #6bb2ff, #2288dd) !important; 
        background: -webkit-gradient(linear, left top, left bottom, from(#6bb2ff), to(#2288dd)) !important;       
    }
    
    /** 내용 영역 */
    .content {
        margin: 0;
        background: #8a816c;
        padding: 10px;
        height: 200px;
        overflow-y: auto;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        color : #ffffff;
}


